<div class="card">
  <div class="card-body">

    <h2>{{ cityName }}</h2>

    <jv-detailed-weather [weather]="cityWeather.weather"
                         [unit]="unit"></jv-detailed-weather>

    <div class="card-actions">
      <button type="button" class="btn btn-light" (click)="onToggleBookmark()">
        {{ isFavorite ? 'Remover dos favoritos' : 'Adicionar aos favoritos' }}
      </button>
      
      <button type="button" class="btn btn-light"
         routerLink="/details"
         [queryParams]="{ lat: cityWeather.city.coord.lat, lon: cityWeather.city.coord.lon }">
        Ver detalhes
      </button>
    </div>

  </div>
</div>
